<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <p>Hasil</p>
    <form action="/inverted" method="POST">
        <label for="">Kata Kunci</label> </br>
        <input type="text" name="search"> </br>
        <button type="submit">Submit</button>
    </form>
    <ol>
        {%for i in range(0, len)%}
        
        <li>
                {{data[i][2]}} </br>{{data[i][3]|safe}}
        </li>
        {% endfor %}
    </ol>

</body>

</html>